# Análise de candidatos

In [ ]:
pip install pandas

In [ ]:
pip install matplotlib

In [76]:
import pandas as pd
import matplotlib.pyplot as plt

In [77]:
df_c1 = pd.read_csv('./candidatos_tecnologia_1.csv', sep= ';')
df_c2 = pd.read_csv('./candidatos_tecnologia_2.csv', sep= ';')
df_c3 = pd.read_csv('./candidatos_tecnologia_3.csv', sep= ';')

In [78]:
df_c1.head()

,id_candidato,data_inscricao,nome,genero,estado,idade,formacao,area_atuacao,experiencia_anos,certificacoes,idiomas,pretensao_salarial,salario_vaga,disponibilidade_viagem,disponibilidade_mudanca,pcd,contratado
0,1,2022-04-13,Candidato_1,Masculino,SP,23.0,Mestrado,Financeiro,4.8,3.0,Espanhol,7500.0,7200.0,Não,Sim,Não,0.0
1,2,2023-03-12,Candidato_2,Masculino,MG,NaN,Ensino Médio,Administração,5.5,3.0,Francês,3700.0,3400.0,Sim,NaN,Não,0.0
2,3,2022-09-28,Candidato_3,Masculino,DF,61.0,Doutorado,Administração,6.3,3.0,Espanhol,9200.0,9600.0,Não,Sim,Não,0.0
3,4,2022-04-17,Candidato_4,Outro,PE,28.0,NaN,Engenharia,2.7,2.0,Espanhol,9300.0,10000.0,Não,Sim,Não,0.0
4,5,2022-03-13,Candidato_5,Outro,RS,19.0,Ensino Médio,Tecnologia,7.4,1.0,Nenhum,8100.0,8000.0,Sim,Não,Não,0.0

In [79]:
df_c1.tail()

,id_candidato,data_inscricao,nome,genero,estado,idade,formacao,area_atuacao,experiencia_anos,certificacoes,idiomas,pretensao_salarial,salario_vaga,disponibilidade_viagem,disponibilidade_mudanca,pcd,contratado
995,996,2023-10-04,Candidato_996,Masculino,MG,60.0,Mestrado,Recursos Humanos,5.4,2.0,Francês,9700.0,8200.0,NaN,Sim,Não,1.0
996,997,2023-08-19,Candidato_997,NaN,CE,56.0,Doutorado,Engenharia,8.3,3.0,Espanhol,5000.0,4200.0,Não,Sim,Não,0.0
997,998,2022-11-17,Candidato_998,NaN,RS,34.0,Doutorado,Marketing,NaN,1.0,Francês,3700.0,3900.0,Sim,Não,Não,1.0
998,999,2022-11-15,Candidato_999,Feminino,PR,37.0,Ensino Médio,Tecnologia,3.5,1.0,Espanhol,10800.0,12900.0,Sim,Sim,Sim,0.0
999,1000,2023-09-05,Candidato_1000,Masculino,RJ,41.0,Ensino Médio,Tecnologia,4.5,2.0,Alemão,4700.0,4200.0,Sim,Sim,Não,1.0

In [80]:
df_c1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id_candidato             1000 non-null   int64
 1   data_inscricao           1000 non-null   object
 2   nome                     900 non-null    object
 3   genero                   900 non-null    object
 4   estado                   900 non-null    object
 5   idade                    900 non-null    float64
 6   formacao                 900 non-null    object
 7   area_atuacao             900 non-null    object
 8   experiencia_anos         900 non-null    float64
 9   certificacoes            900 non-null    float64
 10  idiomas                  900 non-null    object
 11  pretensao_salarial       900 non-null    float64
 12  salario_vaga             900 non-null    float64
 13  disponibilidade_viagem   900 non-null    object
 14  disponibilidade_mudanca  900 non-null    object
 15  pcd                      900 non-null    object
 16  contratado               900 non-null    float64
dtypes: float64(6), int64(1), object(10)
memory usage: 132.9+ KB

In [81]:
df_c2.head()

,codigo_candidato,data_cadastro,nome_completo,sexo,uf,faixa_etaria,nivel_educacional,setor_profissional,tempo_experiencia,qtd_certificacoes,idioma_principal,salario_esperado,salario_oferecido,aceita_viagem,aceita_mudanca,deficiencia,foi_contratado
0,1,2022-04-13,Candidato_1,Masculino,SP,23.0,Mestrado,Financeiro,4.8,3.0,Espanhol,7500.0,7200.0,Não,Sim,Não,0.0
1,2,2023-03-12,Candidato_2,Masculino,MG,NaN,Ensino Médio,Administração,5.5,3.0,Francês,3700.0,3400.0,Sim,NaN,Não,0.0
2,3,2022-09-28,Candidato_3,Masculino,DF,61.0,Doutorado,Administração,6.3,3.0,Espanhol,9200.0,9600.0,Não,Sim,Não,0.0
3,4,2022-04-17,Candidato_4,Outro,PE,28.0,NaN,Engenharia,2.7,2.0,Espanhol,9300.0,10000.0,Não,Sim,Não,0.0
4,5,2022-03-13,Candidato_5,Outro,RS,19.0,Ensino Médio,Tecnologia,7.4,1.0,Nenhum,8100.0,8000.0,Sim,Não,Não,0.0

In [82]:
df_c2.tail()

,codigo_candidato,data_cadastro,nome_completo,sexo,uf,faixa_etaria,nivel_educacional,setor_profissional,tempo_experiencia,qtd_certificacoes,idioma_principal,salario_esperado,salario_oferecido,aceita_viagem,aceita_mudanca,deficiencia,foi_contratado
995,996,2023-10-04,Candidato_996,Masculino,MG,60.0,Mestrado,Recursos Humanos,5.4,2.0,Francês,9700.0,8200.0,NaN,Sim,Não,1.0
996,997,2023-08-19,Candidato_997,NaN,CE,56.0,Doutorado,Engenharia,8.3,3.0,Espanhol,5000.0,4200.0,Não,Sim,Não,0.0
997,998,2022-11-17,Candidato_998,NaN,RS,34.0,Doutorado,Marketing,NaN,1.0,Francês,3700.0,3900.0,Sim,Não,Não,1.0
998,999,2022-11-15,Candidato_999,Feminino,PR,37.0,Ensino Médio,Tecnologia,3.5,1.0,Espanhol,10800.0,12900.0,Sim,Sim,Sim,0.0
999,1000,2023-09-05,Candidato_1000,Masculino,RJ,41.0,Ensino Médio,Tecnologia,4.5,2.0,Alemão,4700.0,4200.0,Sim,Sim,Não,1.0

In [83]:
df_c2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   codigo_candidato    1000 non-null   int64
 1   data_cadastro       1000 non-null   object
 2   nome_completo       900 non-null    object
 3   sexo                900 non-null    object
 4   uf                  900 non-null    object
 5   faixa_etaria        900 non-null    float64
 6   nivel_educacional   900 non-null    object
 7   setor_profissional  900 non-null    object
 8   tempo_experiencia   900 non-null    float64
 9   qtd_certificacoes   900 non-null    float64
 10  idioma_principal    900 non-null    object
 11  salario_esperado    900 non-null    float64
 12  salario_oferecido   900 non-null    float64
 13  aceita_viagem       900 non-null    object
 14  aceita_mudanca      900 non-null    object
 15  deficiencia         900 non-null    object
 16  foi_contratado      900 non-null    float64
dtypes: float64(6), int64(1), object(10)
memory usage: 132.9+ KB

In [84]:
df_c3.head()

,ID DO CANDIDATO,DATA DE INSCRIÇÃO,NOME COMPLETO,GÊNERO,ESTADO,IDADE,FORMAÇÃO ACADÊMICA,ÁREA DE ATUAÇÃO,ANOS DE EXPERIÊNCIA,CERTIFICAÇÕES,IDIOMA,PRETENSÃO SALARIAL,SALÁRIO DA VAGA,DISPONÍVEL PARA VIAGENS,DISPONÍVEL PARA MUDANÇA,É PCD,STATUS DE CONTRATAÇÃO
0,1,2022-04-13,Candidato_1,Masculino,SP,23.0,Mestrado,Financeiro,4.8,3.0,Espanhol,7500.0,7200.0,Não,Sim,Não,0.0
1,2,2023-03-12,Candidato_2,Masculino,MG,NaN,Ensino Médio,Administração,5.5,3.0,Francês,3700.0,3400.0,Sim,NaN,Não,0.0
2,3,2022-09-28,Candidato_3,Masculino,DF,61.0,Doutorado,Administração,6.3,3.0,Espanhol,9200.0,9600.0,Não,Sim,Não,0.0
3,4,2022-04-17,Candidato_4,Outro,PE,28.0,NaN,Engenharia,2.7,2.0,Espanhol,9300.0,10000.0,Não,Sim,Não,0.0
4,5,2022-03-13,Candidato_5,Outro,RS,19.0,Ensino Médio,Tecnologia,7.4,1.0,Nenhum,8100.0,8000.0,Sim,Não,Não,0.0

In [85]:
df_c3.tail()

,ID DO CANDIDATO,DATA DE INSCRIÇÃO,NOME COMPLETO,GÊNERO,ESTADO,IDADE,FORMAÇÃO ACADÊMICA,ÁREA DE ATUAÇÃO,ANOS DE EXPERIÊNCIA,CERTIFICAÇÕES,IDIOMA,PRETENSÃO SALARIAL,SALÁRIO DA VAGA,DISPONÍVEL PARA VIAGENS,DISPONÍVEL PARA MUDANÇA,É PCD,STATUS DE CONTRATAÇÃO
995,996,2023-10-04,Candidato_996,Masculino,MG,60.0,Mestrado,Recursos Humanos,5.4,2.0,Francês,9700.0,8200.0,NaN,Sim,Não,1.0
996,997,2023-08-19,Candidato_997,NaN,CE,56.0,Doutorado,Engenharia,8.3,3.0,Espanhol,5000.0,4200.0,Não,Sim,Não,0.0
997,998,2022-11-17,Candidato_998,NaN,RS,34.0,Doutorado,Marketing,NaN,1.0,Francês,3700.0,3900.0,Sim,Não,Não,1.0
998,999,2022-11-15,Candidato_999,Feminino,PR,37.0,Ensino Médio,Tecnologia,3.5,1.0,Espanhol,10800.0,12900.0,Sim,Sim,Sim,0.0
999,1000,2023-09-05,Candidato_1000,Masculino,RJ,41.0,Ensino Médio,Tecnologia,4.5,2.0,Alemão,4700.0,4200.0,Sim,Sim,Não,1.0

In [86]:
df_c3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID DO CANDIDATO          1000 non-null   int64
 1   DATA DE INSCRIÇÃO        1000 non-null   object
 2   NOME COMPLETO            900 non-null    object
 3   GÊNERO                   900 non-null    object
 4   ESTADO                   900 non-null    object
 5   IDADE                    900 non-null    float64
 6   FORMAÇÃO ACADÊMICA       900 non-null    object
 7   ÁREA DE ATUAÇÃO          900 non-null    object
 8   ANOS DE EXPERIÊNCIA      900 non-null    float64
 9   CERTIFICAÇÕES            900 non-null    float64
 10  IDIOMA                   900 non-null    object
 11  PRETENSÃO SALARIAL       900 non-null    float64
 12  SALÁRIO DA VAGA          900 non-null    float64
 13  DISPONÍVEL PARA VIAGENS  900 non-null    object
 14  DISPONÍVEL PARA MUDANÇA  900 non-null    object
 15  É PCD                    900 non-null    object
 16  STATUS DE CONTRATAÇÃO    900 non-null    float64
dtypes: float64(6), int64(1), object(10)
memory usage: 132.9+ KB

In [87]:
df_c1.describe()

,id_candidato,idade,experiencia_anos,certificacoes,pretensao_salarial,salario_vaga,contratado
count,1000.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000
mean,500.500000,41.735556,4.951111,1.898889,6952.000000,6941.111111,0.275556
std,288.819436,13.381917,1.971434,1.303627,2047.475018,2258.115728,0.447042
min,1.000000,18.000000,-0.800000,0.000000,1300.000000,200.000000,0.000000
25%,250.750000,30.000000,3.600000,1.000000,5600.000000,5400.000000,0.000000
50%,500.500000,42.000000,4.900000,2.000000,6900.000000,6800.000000,0.000000
75%,750.250000,53.000000,6.225000,3.000000,8300.000000,8300.000000,1.000000
max,1000.000000,64.000000,10.500000,8.000000,14100.000000,15800.000000,1.000000

In [88]:
df_c2.describe()

,codigo_candidato,faixa_etaria,tempo_experiencia,qtd_certificacoes,salario_esperado,salario_oferecido,foi_contratado
count,1000.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000
mean,500.500000,41.735556,4.951111,1.898889,6952.000000,6941.111111,0.275556
std,288.819436,13.381917,1.971434,1.303627,2047.475018,2258.115728,0.447042
min,1.000000,18.000000,-0.800000,0.000000,1300.000000,200.000000,0.000000
25%,250.750000,30.000000,3.600000,1.000000,5600.000000,5400.000000,0.000000
50%,500.500000,42.000000,4.900000,2.000000,6900.000000,6800.000000,0.000000
75%,750.250000,53.000000,6.225000,3.000000,8300.000000,8300.000000,1.000000
max,1000.000000,64.000000,10.500000,8.000000,14100.000000,15800.000000,1.000000

In [89]:
df_c3.describe()

,ID DO CANDIDATO,IDADE,ANOS DE EXPERIÊNCIA,CERTIFICAÇÕES,PRETENSÃO SALARIAL,SALÁRIO DA VAGA,STATUS DE CONTRATAÇÃO
count,1000.000000,900.000000,900.000000,900.000000,900.000000,900.000000,900.000000
mean,500.500000,41.735556,4.951111,1.898889,6952.000000,6941.111111,0.275556
std,288.819436,13.381917,1.971434,1.303627,2047.475018,2258.115728,0.447042
min,1.000000,18.000000,-0.800000,0.000000,1300.000000,200.000000,0.000000
25%,250.750000,30.000000,3.600000,1.000000,5600.000000,5400.000000,0.000000
50%,500.500000,42.000000,4.900000,2.000000,6900.000000,6800.000000,0.000000
75%,750.250000,53.000000,6.225000,3.000000,8300.000000,8300.000000,1.000000
max,1000.000000,64.000000,10.500000,8.000000,14100.000000,15800.000000,1.000000

In [90]:
df_c1.nunique()

id_candidato               1000
data_inscricao              535
nome                        900
genero                        3
estado                       10
idade                        47
formacao                      5
area_atuacao                  8
experiencia_anos            100
certificacoes                 8
idiomas                       5
pretensao_salarial          100
salario_vaga                114
disponibilidade_viagem        2
disponibilidade_mudanca       2
pcd                           2
contratado                    2
dtype: int64

In [91]:
df_c2.nunique()

codigo_candidato      1000
data_cadastro          535
nome_completo          900
sexo                     3
uf                      10
faixa_etaria            47
nivel_educacional        5
setor_profissional       8
tempo_experiencia      100
qtd_certificacoes        8
idioma_principal         5
salario_esperado       100
salario_oferecido      114
aceita_viagem            2
aceita_mudanca           2
deficiencia              2
foi_contratado           2
dtype: int64

In [92]:
df_c3.nunique()

ID DO CANDIDATO            1000
DATA DE INSCRIÇÃO           535
NOME COMPLETO               900
GÊNERO                        3
ESTADO                       10
IDADE                        47
FORMAÇÃO ACADÊMICA            5
ÁREA DE ATUAÇÃO               8
ANOS DE EXPERIÊNCIA         100
CERTIFICAÇÕES                 8
IDIOMA                        5
PRETENSÃO SALARIAL          100
SALÁRIO DA VAGA             114
DISPONÍVEL PARA VIAGENS       2
DISPONÍVEL PARA MUDANÇA       2
É PCD                         2
STATUS DE CONTRATAÇÃO         2
dtype: int64

começando o tratamento de dados

Dataset1

In [93]:
df_c11 = df_c1.copy()

In [94]:
df_c11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id_candidato             1000 non-null   int64
 1   data_inscricao           1000 non-null   object
 2   nome                     900 non-null    object
 3   genero                   900 non-null    object
 4   estado                   900 non-null    object
 5   idade                    900 non-null    float64
 6   formacao                 900 non-null    object
 7   area_atuacao             900 non-null    object
 8   experiencia_anos         900 non-null    float64
 9   certificacoes            900 non-null    float64
 10  idiomas                  900 non-null    object
 11  pretensao_salarial       900 non-null    float64
 12  salario_vaga             900 non-null    float64
 13  disponibilidade_viagem   900 non-null    object
 14  disponibilidade_mudanca  900 non-null    object
 15  pcd                      900 non-null    object
 16  contratado               900 non-null    float64
dtypes: float64(6), int64(1), object(10)
memory usage: 132.9+ KB

In [95]:
df_c11.drop('nome', axis=1, inplace=True)

In [96]:
df_c11.drop('data_inscricao', axis=1, inplace=True)

In [97]:
df_c11.drop('contratado', axis=1, inplace=True)

In [146]:
df_c11

,id_candidato,sexo,estado,idade,formacao,area_atuacao,tempo_experiencia,certificacoes,idiomas,pretensao_salarial,salario,aceita_viagem,aceita_mudanca,pcd
0,1,Masculino,SP,23.0,Mestrado,Financeiro,4.8,3.0,Espanhol,7500.0,7200.0,Não,Sim,Não
1,2,Masculino,MG,NaN,Ensino Médio,Administração,5.5,3.0,Francês,3700.0,3400.0,Sim,NaN,Não
2,3,Masculino,DF,61.0,Doutorado,Administração,6.3,3.0,Espanhol,9200.0,9600.0,Não,Sim,Não
3,4,Outro,PE,28.0,NaN,Engenharia,2.7,2.0,Espanhol,9300.0,10000.0,Não,Sim,Não
4,5,Outro,RS,19.0,Ensino Médio,Tecnologia,7.4,1.0,Nenhum,8100.0,8000.0,Sim,Não,Não
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Masculino,MG,60.0,Mestrado,Recursos Humanos,5.4,2.0,Francês,9700.0,8200.0,NaN,Sim,Não
996,997,NaN,CE,56.0,Doutorado,Engenharia,8.3,3.0,Espanhol,5000.0,4200.0,Não,Sim,Não
997,998,NaN,RS,34.0,Doutorado,Marketing,NaN,1.0,Francês,3700.0,3900.0,Sim,Não,Não
998,999,Feminino,PR,37.0,Ensino Médio,Tecnologia,3.5,1.0,Espanhol,10800.0,12900.0,Sim,Sim,Sim
999,1000,Masculino,RJ,41.0,Ensino Médio,Tecnologia,4.5,2.0,Alemão,4700.0,4200.0,Sim,Sim,Não

In [145]:
df_c11 = df_c11.rename(columns={
    'experiencia_anos': 'tempo_experiencia',
    'disponibilidade_viagem': 'aceita_viagem',
    'salario_vaga' : 'salario',
    'disponibilidade_mudanca': 'aceita_mudanca',
    'genero' : 'sexo'
})

In [100]:
df_c11

,id_candidato,sexo,estado,idade,formacao,area_atuacao,experiencia_anos,certificacoes,idiomas,pretensao_salarial,salario,disponibilidade_viagem,disponibilidade_mudanca,pcd
0,1,Masculino,SP,23.0,Mestrado,Financeiro,4.8,3.0,Espanhol,7500.0,7200.0,Não,Sim,Não
1,2,Masculino,MG,NaN,Ensino Médio,Administração,5.5,3.0,Francês,3700.0,3400.0,Sim,NaN,Não
2,3,Masculino,DF,61.0,Doutorado,Administração,6.3,3.0,Espanhol,9200.0,9600.0,Não,Sim,Não
3,4,Outro,PE,28.0,NaN,Engenharia,2.7,2.0,Espanhol,9300.0,10000.0,Não,Sim,Não
4,5,Outro,RS,19.0,Ensino Médio,Tecnologia,7.4,1.0,Nenhum,8100.0,8000.0,Sim,Não,Não
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Masculino,MG,60.0,Mestrado,Recursos Humanos,5.4,2.0,Francês,9700.0,8200.0,NaN,Sim,Não
996,997,NaN,CE,56.0,Doutorado,Engenharia,8.3,3.0,Espanhol,5000.0,4200.0,Não,Sim,Não
997,998,NaN,RS,34.0,Doutorado,Marketing,NaN,1.0,Francês,3700.0,3900.0,Sim,Não,Não
998,999,Feminino,PR,37.0,Ensino Médio,Tecnologia,3.5,1.0,Espanhol,10800.0,12900.0,Sim,Sim,Sim
999,1000,Masculino,RJ,41.0,Ensino Médio,Tecnologia,4.5,2.0,Alemão,4700.0,4200.0,Sim,Sim,Não

Dataset2

In [101]:
df_c22 = df_c2.copy()

In [102]:
df_c22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   codigo_candidato    1000 non-null   int64
 1   data_cadastro       1000 non-null   object
 2   nome_completo       900 non-null    object
 3   sexo                900 non-null    object
 4   uf                  900 non-null    object
 5   faixa_etaria        900 non-null    float64
 6   nivel_educacional   900 non-null    object
 7   setor_profissional  900 non-null    object
 8   tempo_experiencia   900 non-null    float64
 9   qtd_certificacoes   900 non-null    float64
 10  idioma_principal    900 non-null    object
 11  salario_esperado    900 non-null    float64
 12  salario_oferecido   900 non-null    float64
 13  aceita_viagem       900 non-null    object
 14  aceita_mudanca      900 non-null    object
 15  deficiencia         900 non-null    object
 16  foi_contratado      900 non-null    float64
dtypes: float64(6), int64(1), object(10)
memory usage: 132.9+ KB

In [103]:
df_c22.drop('data_cadastro', axis=1, inplace=True)

In [104]:
df_c22.drop('nome_completo', axis=1, inplace=True)

In [105]:
df_c22.drop('foi_contratado', axis=1, inplace=True)

In [137]:
df_c22 = df_c22.rename(columns={
    'codigo_candidato': 'id_candidato',
    'uf' : 'estado',
    'faixa_etaria ' : 'idade',
    'nivel_educacional ': 'formacao',
    'setor_profissional' : 'area_atuacao',
    'qtd_certificacoes' : 'certificacoes',
    'idioma_principal' : 'idioma',
    'salario_esperado' : 'pretensao_salarial',
    'salario_oferecido' : 'salario',
    'deficiencia' : 'pcd',
    'idioma' : 'idiomas',
    'nivel_educacional' : 'formacao',
    'faixa_etaria' : 'idade'
})

In [107]:
df_c22

,id_candidato,sexo,estado,idade,formacao,area_atuacao,tempo_experiencia,certificacoes,idioma,pretensao_salarial,salario,aceita_viagem,aceita_mudanca,pcd
0,1,Masculino,SP,23.0,Mestrado,Financeiro,4.8,3.0,Espanhol,7500.0,7200.0,Não,Sim,Não
1,2,Masculino,MG,NaN,Ensino Médio,Administração,5.5,3.0,Francês,3700.0,3400.0,Sim,NaN,Não
2,3,Masculino,DF,61.0,Doutorado,Administração,6.3,3.0,Espanhol,9200.0,9600.0,Não,Sim,Não
3,4,Outro,PE,28.0,NaN,Engenharia,2.7,2.0,Espanhol,9300.0,10000.0,Não,Sim,Não
4,5,Outro,RS,19.0,Ensino Médio,Tecnologia,7.4,1.0,Nenhum,8100.0,8000.0,Sim,Não,Não
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Masculino,MG,60.0,Mestrado,Recursos Humanos,5.4,2.0,Francês,9700.0,8200.0,NaN,Sim,Não
996,997,NaN,CE,56.0,Doutorado,Engenharia,8.3,3.0,Espanhol,5000.0,4200.0,Não,Sim,Não
997,998,NaN,RS,34.0,Doutorado,Marketing,NaN,1.0,Francês,3700.0,3900.0,Sim,Não,Não
998,999,Feminino,PR,37.0,Ensino Médio,Tecnologia,3.5,1.0,Espanhol,10800.0,12900.0,Sim,Sim,Sim
999,1000,Masculino,RJ,41.0,Ensino Médio,Tecnologia,4.5,2.0,Alemão,4700.0,4200.0,Sim,Sim,Não

In [108]:
df_c22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_candidato        1000 non-null   int64
 1   sexo                900 non-null    object
 2   estado              900 non-null    object
 3   idade               900 non-null    float64
 4   formacao            900 non-null    object
 5   area_atuacao        900 non-null    object
 6   tempo_experiencia   900 non-null    float64
 7   certificacoes       900 non-null    float64
 8   idioma              900 non-null    object
 9   pretensao_salarial  900 non-null    float64
 10  salario             900 non-null    float64
 11  aceita_viagem       900 non-null    object
 12  aceita_mudanca      900 non-null    object
 13  pcd                 900 non-null    object
dtypes: float64(5), int64(1), object(8)
memory usage: 109.5+ KB

Dataset3

In [130]:
df_c35 = df_c3.copy()

In [131]:
df_c35.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID DO CANDIDATO          1000 non-null   int64
 1   DATA DE INSCRIÇÃO        1000 non-null   object
 2   NOME COMPLETO            900 non-null    object
 3   GÊNERO                   900 non-null    object
 4   ESTADO                   900 non-null    object
 5   IDADE                    900 non-null    float64
 6   FORMAÇÃO ACADÊMICA       900 non-null    object
 7   ÁREA DE ATUAÇÃO          900 non-null    object
 8   ANOS DE EXPERIÊNCIA      900 non-null    float64
 9   CERTIFICAÇÕES            900 non-null    float64
 10  IDIOMA                   900 non-null    object
 11  PRETENSÃO SALARIAL       900 non-null    float64
 12  SALÁRIO DA VAGA          900 non-null    float64
 13  DISPONÍVEL PARA VIAGENS  900 non-null    object
 14  DISPONÍVEL PARA MUDANÇA  900 non-null    object
 15  É PCD                    900 non-null    object
 16  STATUS DE CONTRATAÇÃO    900 non-null    float64
dtypes: float64(6), int64(1), object(10)
memory usage: 132.9+ KB

In [132]:
df_c35.drop('NOME COMPLETO', axis=1, inplace=True)

In [133]:
df_c35.drop('STATUS DE CONTRATAÇÃO', axis=1, inplace=True)

In [134]:
df_c35.drop('DATA DE INSCRIÇÃO', axis=1, inplace=True)

In [141]:
df_c35 = df_c35.rename(columns={
    'ID DO CANDIDATO' : 'id_candidato',
    'GÊNERO' : 'sexo',
    'ESTADO' : 'estado',
    'IDADE' : 'idade',
    'FORMAÇÃO ACADÊMICA' : 'formacao',
    'ÁREA DE ATUAÇÃO' : 'area_atuacao',
    'ANOS DE EXPERIÊNCIA' : 'tempo_experiencia',
    'CERTIFICAÇÕES' : 'certificacoes',
    'IDIOMA' : 'idiomas',
    'PRETENSÃO SALARIAL' : 'pretensao_salarial',
    'SALÁRIO DA VAGA' : 'salario',
    'DISPONÍVEL PARA VIAGENS' : 'aceita_viagem',
    'DISPONÍVEL PARA MUDANÇA' : 'aceita_mudanca',
    'É PCD' : 'pcd'
})

In [138]:
df_c22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_candidato        1000 non-null   int64
 1   sexo                900 non-null    object
 2   estado              900 non-null    object
 3   idade               900 non-null    float64
 4   formacao            900 non-null    object
 5   area_atuacao        900 non-null    object
 6   tempo_experiencia   900 non-null    float64
 7   certificacoes       900 non-null    float64
 8   idiomas             900 non-null    object
 9   pretensao_salarial  900 non-null    float64
 10  salario             900 non-null    float64
 11  aceita_viagem       900 non-null    object
 12  aceita_mudanca      900 non-null    object
 13  pcd                 900 non-null    object
dtypes: float64(5), int64(1), object(8)
memory usage: 109.5+ KB

In [147]:
df_c11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_candidato        1000 non-null   int64
 1   sexo                900 non-null    object
 2   estado              900 non-null    object
 3   idade               900 non-null    float64
 4   formacao            900 non-null    object
 5   area_atuacao        900 non-null    object
 6   tempo_experiencia   900 non-null    float64
 7   certificacoes       900 non-null    float64
 8   idiomas             900 non-null    object
 9   pretensao_salarial  900 non-null    float64
 10  salario             900 non-null    float64
 11  aceita_viagem       900 non-null    object
 12  aceita_mudanca      900 non-null    object
 13  pcd                 900 non-null    object
dtypes: float64(5), int64(1), object(8)
memory usage: 109.5+ KB

In [142]:
df_c35.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_candidato        1000 non-null   int64
 1   sexo                900 non-null    object
 2   estado              900 non-null    object
 3   idade               900 non-null    float64
 4   formacao            900 non-null    object
 5   area_atuacao        900 non-null    object
 6   tempo_experiencia   900 non-null    float64
 7   certificacoes       900 non-null    float64
 8   idiomas             900 non-null    object
 9   pretensao_salarial  900 non-null    float64
 10  salario             900 non-null    float64
 11  aceita_viagem       900 non-null    object
 12  aceita_mudanca      900 non-null    object
 13  pcd                 900 non-null    object
dtypes: float64(5), int64(1), object(8)
memory usage: 109.5+ KB

### Juntar os 3 Datasets em 1

In [151]:
df_total = pd.concat([df_c11, df_c22, df_c35], ignore_index=True)

df_total

,id_candidato,sexo,estado,idade,formacao,area_atuacao,tempo_experiencia,certificacoes,idiomas,pretensao_salarial,salario,aceita_viagem,aceita_mudanca,pcd
0,1,Masculino,SP,23.0,Mestrado,Financeiro,4.8,3.0,Espanhol,7500.0,7200.0,Não,Sim,Não
1,2,Masculino,MG,NaN,Ensino Médio,Administração,5.5,3.0,Francês,3700.0,3400.0,Sim,NaN,Não
2,3,Masculino,DF,61.0,Doutorado,Administração,6.3,3.0,Espanhol,9200.0,9600.0,Não,Sim,Não
3,4,Outro,PE,28.0,NaN,Engenharia,2.7,2.0,Espanhol,9300.0,10000.0,Não,Sim,Não
4,5,Outro,RS,19.0,Ensino Médio,Tecnologia,7.4,1.0,Nenhum,8100.0,8000.0,Sim,Não,Não
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,996,Masculino,MG,60.0,Mestrado,Recursos Humanos,5.4,2.0,Francês,9700.0,8200.0,NaN,Sim,Não
2996,997,NaN,CE,56.0,Doutorado,Engenharia,8.3,3.0,Espanhol,5000.0,4200.0,Não,Sim,Não
2997,998,NaN,RS,34.0,Doutorado,Marketing,NaN,1.0,Francês,3700.0,3900.0,Sim,Não,Não
2998,999,Feminino,PR,37.0,Ensino Médio,Tecnologia,3.5,1.0,Espanhol,10800.0,12900.0,Sim,Sim,Sim
2999,1000,Masculino,RJ,41.0,Ensino Médio,Tecnologia,4.5,2.0,Alemão,4700.0,4200.0,Sim,Sim,Não

In [152]:
%store df_total

Stored 'df_total' (DataFrame)